body{
    margin: -8px 0px 0px -8px;
}
.top {
    background-color: #111115;
    block-size: 80px;
    display: flex;
    align-items: center;
    padding-left: 70px;
  }
  .topicon{
    width: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
   color:#FFFFFF;
    text-decoration: none;
    padding: 5px;
   border: 1px solid white;
   text-align: center;
  }
  .toplink {
    padding-left: 30px;
     display: flex;
   text-decoration: none;
   justify-content: space-between;
  }
  .toplinkabout:active{
    color: orange;
  }
  .toplinkmap:active{
    color: orange;
  }
  .toplinkzoos:active{
    color: orange;
  }
  .toplinkcontact:active{
    color: orange;
  }
  .toplinkdesign:active{
    color: orange;
  }
  .toplinkabout{
     color: #FFFFFF;
     display: flex;
    justify-content: space-between;
   text-decoration: none;
      padding: 20px;
  }
  .toplinkmap{
     color: #FFFFFF;
     display: flex;
    justify-content: space-between;
   text-decoration: none;
    padding: 20px;
  }
  .toplinkzoos{
     color: #FFFFFF;
     display: flex;
    justify-content: space-between;
   text-decoration: none;
      padding: 20px;
  }
  .toplinkdonate{
     color: orange;
     display: flex;
    justify-content: space-between;
   text-decoration: none;
      padding: 20px;
  }
  .toplinkcontact{
     color: #FFFFFF;
     display: flex;
    justify-content: space-between;
   text-decoration: none;
      padding: 20px;
  }
  .toplinkdesign{
     color: #FFFFFF;
   text-decoration: none;
   padding-left: 600px;
  
     
  }
  .panda{
    background: url(https://raw.githubusercontent.com/tttemu/rsschool-cv/online-zoo/online-zoo/assets/Giant%20Panda.png) no-repeat;
      background-size: cover;
     block-size: 400px;
     
  }
 
.feedback{
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.header3{
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color:#FFFFFF;
}
.reopenedP{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#FFFFFF;
}
.doninf{
    color: #FE9013;
    margin-left: 12%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}
.feed{
    width: 1160px;
    height: 970px;
    padding-top: 40px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
}
.countofdiet{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.four{
    font-family: sans-serif;
    font-size:72px;
    padding-left: 25%;
    
}
.cross{
    font-size:25px;
}
.panda-widget{
    padding-right: 20%;
}
.fourtext{
    padding-left: 300px;
    margin-top: -80px;
}
.textpick{
    font-weight: 400;
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
    color: #FE9013;
}
.amount{
    padding-left: 100px;
}
.weknowtheanimals{
    font-size: 24px;
    font-family: sans-serif;
    padding-left: 100px;
}

.button3 {
    background-color: orange; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 border-radius: 25px;
  width: 298px;
  margin: 0 auto;
display: block;
margin-top: 70px;
margin-bottom: 70px;
}
 .button3:hover, .button6:hover{
    background-color: #E47209;
  }
.button3:active, .button6:active{
    background-color: #4B9200;
  }
.button3:disabled, .button6:disabled{
    background-color: #767474;
  }

.footer {
    height: auto;
    background-color: #111115;
    padding: 40px;
  }
  .iconline{
    display: flex;
justify-content: space-between;
  }
  .footericon{
    width: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
   color:#FFFFFF;
    text-decoration: none;
    padding: 5px;
   border: 1px solid white;
   text-align: center;
   margin-left: 60px;
  }
  .subscribe{
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color:#FFFFFF;
    padding-right: 160px;
  }
 .email{
    display: flex;
    justify-content: end;
    margin-top: -40px;
 }
  input[type="email"]{
      width: 230px;
      height: 40px;
    background-color: #111115;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    color: white;
  }
  input[type="email"]:hover{
    border:  2px solid green;
    color: green;
  }
  input[type="email"]:active{
    border:  2px solid green;
    color: green;
  }
    input[type="email"]:invalid{
    border:  2px solid red;
    color: red;
  }
  .button5 {
    background-color:#F1F3F2; 
    border:  1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
  width: 130px;
  height: 40px;
  border-radius: 5px;
}
.button5:active{
    border:  3px solid green;
    color: green;
}
.button5:invalid{
    border:  3px solid red;
    color: red;
}
.button6 {
    background-color: orange; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  width: 298px;
margin-left: 60px;
margin-top: 20px;
border-radius: 5px;
}
.linkfacebook{
    text-decoration: none;
    display: flex;
    margin: 40px 50px 0px;
}

.imgfacebook{
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 10px;
}
.imgfacebook:active{
    background-color: green;
}
.textfacebook{
    color:#FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.textfacebook:active{
    color: green;
}

.linktwitter{
    text-decoration: none;
    display: flex;
    margin: 0px 50px;
}

.imgtwitter{
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 10px;
}
.imgtwitter:active{
    background-color: green;
}
.texttwitter{
    color:#FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.texttwitter:active{
    color: green;
}

.linkinst{
    text-decoration: none;
    display: flex;
    margin: 0px 50px;
}

.imginst{
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 10px;
}
.imginst:active{
    background-color: green;
}
.textinst{
    color:#FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.textinst:active{
    color: green;
}

.linkyoutube{
    text-decoration: none;
    display: flex;
    margin: 0px 50px;
}

.imgyoutube{
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 10px;
}
.imgyoutube:active{
    background-color: green;
}
.textyoutube{
    color:#FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.textyoutube:active{
    color: green;
}
.footerlink {
    display: flex;
    padding-left: 30px;
    justify-content: center;
    margin-top: -55px;
  }
  .footerlinkabout:active{
    color: orange;
  }
  .footerlinkmap:active{
    color: orange;
  }
  .footerlinkzoos:active{
    color: orange;
  }
  .footerlinkcontact:active{
    color: orange;
  }
  .footerlinkabout{
    color: #FFFFFF;
    display: flex;
   justify-content: space-around;
  text-decoration: none;
     padding: 20px;
 }
 .footerlinkmap{
    color: #FFFFFF;
    display: flex;
   justify-content: space-around;
  text-decoration: none;
     padding: 20px;
 }
 .footerlinkzoos{
    color: #FFFFFF;
    display: flex;
   justify-content: space-around;
  text-decoration: none;
     padding: 20px;
 }
 .footerlinkcontact{
    color: #FFFFFF;
    display: flex;
   justify-content: space-around;
  text-decoration: none;
     padding: 20px;
 }
 .designed{
    color: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-align: end;
 }
 .designed:active{
    color: green;
 }
 .alisa{
    margin-top: -70px;
 }
 
 .progress-bar{
    box-sizing: border-box;
    margin: 17px 100px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    padding: 0 28px 0 25px;
    display: flex;
    align-items: center;
 }
 .progress-bar-line{
    position: relative;
    width: 100%;
    height: 2px;
    background: #72828E;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .progress-bar-radio-label{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
 }
 .progress-bar-radio{
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 5px solid transparent;
    background-color: #FFEE2E;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 .progress-bar-radio:hover{
    background-color: green;
 }
 .progress-bar-label{
    display: flex;
    position: absolute;
    top:30px;
    left: -30px;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    color: #333B41;
    cursor: pointer;
 }
 .progress-bar-radio:checked ~ label{
    color:#FE9013;
 }
 .input-amount{
    position: relative;
    max-width: 270px;
    height: 54px;
    margin: 100px auto 0;
 }
.input-amount-another{
    display: block;
    box-sizing: border-box;
    padding: 16px 20px 16px 9px;
    width: 100%;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: transparent;
}
.input-amount-another[placeholder]:valid{
    color:#489200;
}
.input-amount-another[placeholder]{
    font-weight: 400;
    font-size: 16px;
    color:#929699;
}
.input-amount-another-label{
    position: absolute;
    width: 10px;
    height: 20px;
    top: 16px;
    right: 10px;
    font-weight: 600;
    font-size: 18px;
    color:#929699;
}
.monthly-once{
    width: 100%;
    max-width: 212px;
    height: 21px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 25px auto 0;
}
.monthly-once-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-monthly-once{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
    cursor: pointer;
}
.input-monthly-once:checked{
    border: 1px solid #489200;
    background-color: #489200;
}
.label-monthly-once{
    font-weight: 400;
    font-size: 16px;
    color:#333B41;
}
.sharewuf{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
