.top {
  inline-size: 100%;
  background-color: #111115;
  block-size: 80px;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;

  align-items: center;
  box-shadow: 0 0 10px rgba(185, 182, 182, 0.5);
}
.topicon{

  padding: 10px;
 border: 2px solid white;
}
.toplink {
  padding-left: 10px;
  
   display: flex;
 text-decoration: none;
 justify-content: space-between;
}
.toplink:hover{
  color: orange;
}
.toplink:link{
  color: orange;
}
.toplink:visited{
  color: orange;
}
.toplink:active{
  color: orange;
}
.toplinkabout{
   color: #FFFFFF;
   display: flex;
  justify-content: space-between;
 text-decoration: none;
    padding: 20px;
}

.toplinkmap{
   color: #FFFFFF;
   display: flex;
  justify-content: space-between;
 text-decoration: none;
  padding: 20px;
}
.toplinkzoos{
   color: #FFFFFF;
   display: flex;
  justify-content: space-between;
 text-decoration: none;
    padding: 20px;
}
.toplinkdonate{
   color: #FFFFFF;
   display: flex;
  justify-content: space-between;
 text-decoration: none;
    padding: 20px;
}
.toplinkcontact{
   color: #FFFFFF;
   display: flex;
  justify-content: space-between;
 text-decoration: none;
    padding: 20px;
}
.toplinkdesign{
   color: #FFFFFF;
 text-decoration: none;
  padding-top: 20px;
    padding-left: 700px;
}
.panda{
  background: url(https://raw.githubusercontent.com/tttemu/rsschool-cv/online-zoo/online-zoo/assets/Giant%20Panda.png) no-repeat;
    background-size: cover;
  color: white;
   block-size: 584px;
 font-size: 50pt;
  margin-top: -70px;
  padding-left: 75%;
  font-weight: bold;
  
}
.favorite{
  color: #FFEE2E;
}
.button1 {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 border-radius: 25px;
  width: 200px;
}
.bamboo-cap{
  margin: 100px 0px;
  display: flex;
  
}
.text1{
  color:#333B41;
   padding-left: 10%;
}
.backstage{
  color:#333B41;
  font-size: 48px;
  margin:0px;
}

.howitworks{
   font-size: 24px;
}
